body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(241, 233, 243);
}
#listData {
    display: flex;
    flex-wrap: wrap;
}
.card {
    filter: grayscale(50);
    width: 400px; /*1*/
    margin: 20px 30px; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
    border-radius: 25px;
}
.card a {
    /*5*/
    color: #333;
    text-decoration: none;
}

.card img:hover {
    filter: grayscale(0);
}
.card:hover {
    box-shadow: 0px 5px 20px rgba(243, 117, 0, 0.952); /*4*/

    filter: grayscale(0);
}
.card-title {
    display: flex;
    justify-content: center;
}
.card-excerpt {
    margin: 15px;
}
.searchContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#searchInput {
    height: 50px;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-left: 50px;
}
#header {
    position: sticky;
    top: 0;
    box-shadow: -100px 5px 20px rgba(242, 218, 195, 0.952); /*4*/
    color: rgb(243, 233, 233);
    background-color: rgb(72, 68, 68);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    font-size: 2rem;
    margin-bottom: 40px;
    z-index: 10;
}
